EXPERIMENT 8   (NAME - SAUMYA PRN - 25070123161)

In [2]:
#Print 1-5 using for loop!
for i in range(1,6):
  print(i)

1
2
3
4
5

In [5]:
#Print even numbers from 2-10!
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [9]:
#Add first n numbers!
n = int(input("Enter a number: "))
sum = 0
for i in range(1,n+1):
  sum = sum + i
  print(sum)

Enter a number: 10
1
3
6
10
15
21
28
36
45
55

In [11]:
#Print a 3x3 matrix using nested loop!
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")
  print()

1 2 3
4 5 6
7 8 9

In [12]:
#Print a 3x3 matrix alternate code!
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for row in A:
  print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [13]:
#Multiplication of two 3X3 Matrices (most imp)
A = [[1,2,3],
     [4,5,6],
     [1,2,1]]
B = [[1,1,1],
     [6,5,4],
     [3,2,1]]
result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(3):
  for j in range(3):
    for k in range(3):
      result[i][j] = result[i][j] + A[i][k] * B[k][j]
for row in result:
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [19]:
#Python program to accept three digits and print all possible combinations :
d1=1
d2=2
d3=3
d=[d1,d2,d3]
#123,132,213,231,312,321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j]) and (d[j]!=d[k]) and (d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [20]:
#Make a right angled triangle using python!
for i in range(1,6):
  for j in range(1,i+1):
    print("*", end = " ")
  print()

*
* *
* * *
* * * *
* * * * *

In [24]:
#Pyramid pattern!
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *